chatflow_fixed.json
{
  "name": "Chatbot NoLimits3D",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nolimits3d/chat"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const systemPrompt = `Sei l'esperto di stampa 3D di NoLimits3D (nolimits3d.store).\nFornisci risposte tecniche dettagliate, consigli sui materiali, tempi e costi di stampa, prevenendo errori comuni.\nRispondi in italiano in modo professionale ma amichevole. Se necessario, chiedi chiarimenti.\nEmail supporto: nolimits.3d.print@gmail.com`;\n\nconst userMessage = $json.body ?? $json.query?.message ?? '';\n\nreturn [{\n  json: {\n    model: 'deepseek-chat',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userMessage }\n    ]\n  }\n}];"
      },
      "name": "Build Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.DEEPSEEK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "name": "DeepSeek API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const responseContent = $node[\"DeepSeek API\"].json.choices[0].message.content;\nreturn [{\n  json: {\n    reply: responseContent\n  }\n}];"
      },
      "name": "Extract Reply",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "DeepSeek API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek API": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}